version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: geo-vizualizer-db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  api:
    env_file:
      - .env
    build:
      context: ./geo-vizualizer-backend
      dockerfile: Dockerfile
    container_name: fastapi-service
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - backend

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: react-frontend
    ports:
      - "3000:80"
    restart: unless-stopped
    depends_on:
      - api
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  pgdata:
