.drop_zone {
    border: 2px dashed #e5e5e5;
    padding: 15px 20px;
    border-radius: 7px;
    height: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    &:hover {
        background: #e5e5e540;
        border-color: #C2E8D6;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6A6E73;
    font-size: 16px;
}

.description {
    color: #aaaaaa;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.file {

    display: flex;
    gap: 10px;

    &__info {
        justify-content: space-between;
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__upload {
        width: 100%;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__main {
        justify-content: space-between;
        display: flex;
        gap: 6px;
        align-items: center;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: #aaaaaa;
    }

    &__name {
        color: #0166CC;

        text-overflow: ellipsis;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 6px;
    }

    &__size {
        color: #aaaaaa;
        font-weight: 400;
        font-size: 13px;

    }

    &__pecent {

        color: #555;
    }

    &__progress {
        width: 100%;
    }

    &__delete {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        .file__delete {
            opacity: 1;
        }
    }

}