.drop_zone {
    border: 2px dashed #e5e5e5;
    padding: 15px 20px;
    border-radius: 7px;
    height: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    &:hover {
        background: #e5e5e540;
        border-color: #C2E8D6;
    }
}

.dropped {
    background: #e5e5e540;
    border-color: #C2E8D6;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6A6E73;
    font-size: 16px;

}

.description {
    color: #aaaaaa;
    font-size: 14px;
}
