 .file {
     display: flex;
     gap: 10px;

     &__info {
         justify-content: space-between;
         display: flex;
         gap: 15px;
         align-items: center;
     }

     &__upload {
         width: 100%;
         max-width: 90%;
         display: flex;
         flex-direction: column;
         gap: 10px;
     }

     &__main {
         justify-content: space-between;
         display: flex;
         gap: 6px;
         align-items: center;
     }

     &__icon {
         width: 20px;
         height: 20px;
         color: #aaaaaa;
     }

     &__name {
         color: #0166CC;

         text-overflow: ellipsis;
         max-width: 450px;
         white-space: nowrap;
         overflow: hidden;
         margin-right: 6px;
     }

     &__size {
         color: #aaaaaa;
         font-weight: 400;
         font-size: 13px;

     }

     &__progress {
         width: 100%;
     }
 }