.root {
    display: grid;
    gap: 12px;
}

.bottom {
    display: grid;
    gap: 12px;
}

.chartCard {
    padding: 8px;
    border-radius: 12px;
    overflow: hidden;
    height: 680px;
}

.proj {
    margin-top: 2px;
}
