.shell {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-rows: 1fr;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.rootLayout_wrapper {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;

    box-sizing: border-box;
    padding-left: 16px;
    padding-top: 8px;

    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.rootLayout_content {
    min-height: 0;
    min-width: 0;

    display: grid;
    grid-template-rows: 1fr;

    overflow: hidden;
}
