.dashboard {
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;

    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr;
}

.content {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;

    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr;
}
